<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="UTF-8">
	<title>AIKG</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->

	<link rel="stylesheet" href="{{ url_for('static', filename='css/hover-min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/codemirror_themes/neat.css') }}">
	<link rel="stylesheet" type="text/css"
		href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">



	{{ fontawesome_html() }}

    <script src="https://cdn.neo4jlabs.com/neovis.js/v1.5.0/neovis-without-dependencies.js"></script>



	<!--  -->

	<link rel=stylesheet href="{{ url_for('static', filename='doc/docs.css') }}">

	<link rel="stylesheet" href="{{ url_for('static', filename='lib/codemirror.css') }}" />
	<script src="{{ url_for('static', filename='lib/codemirror.js') }}"></script>
	<script src="{{ url_for('static', filename='addon/edit/matchbrackets.js') }}"></script>
	<script src="{{ url_for('static', filename='sql.js') }}"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='addon/hint/show-hint.css') }}" />
	<script src="{{ url_for('static', filename='addon/hint/show-hint.js') }}"></script>
	<script src="{{ url_for('static', filename='addon/hint/sql-hint.js') }}"></script>


	<!--  -->






</head>
<body onload="draw()">
    <div id="viz"></div>



    <script type="text/javascript">

        var viz;

        function draw() {
            var config = {
                container_id: "viz",
                server_url: "bolt://localhost:11009",
                server_user: "neo4j",
                server_password: "abc123",
                labels: {
                    "ns0__ScholarlyArticle": {
                        "size": "pagerank",
                        "title_properties": [
                            "ns0__headline",
                            "pagerank"
                        ]
                    }
                },
                relationships: {
                    "ns0__citation": {
                        "caption": false
                    }
                },
                initial_cypher: "MATCH (n) RETURN 5"
            };

            viz = new NeoVis.default(config);
            viz.render();
        }
    </script>
</body>